body{
    background-color: rgb(11, 48, 90);
    max-height: 100vh;
}
.container{
    width: 80%;
    height: 20vh;
    background-color: aliceblue;
    border-radius: 5px;
    margin: auto;
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.info{
    margin: 0 auto;
    font-size: large;
}
.btnCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-top: 2%;
    gap: 5%;
}
.btn{
    width: 20%;
    height: 200%;
    font-size: 12pt;
    border-radius: 5px;
}
.add{
    background-color: rgb(64, 225, 172);
}
.remove{
    background-color: rgb(183, 18, 18);
}